<div class="font-semibold font-title">
    Azure AD SSO Tab Demo
</div>

<p>
    <div>
        <label for="tabChoice"></label>
        Click `Save` below to set up the tab
    </div>
</p>

@section Scripts {
    <script src="~/scripts/initTeamsTab.js"></script>
    <script src="~/scripts/config.js"></script>
}