<div class="font-semibold font-title">
    Azure AD SSO Tab Demo
</div>

<div id="logs" class="logContainer" style="overflow-x: hidden; overflow-y: scroll;">
</div>

@section Scripts {
    <script src="~/scripts/jwt-decode.js" type="module"></script>
    <script src="~/scripts/ssoDemo.js" type="module"></script>
}