@{
    ViewData["Title"] = "Home Page";
}
<h1>Azure AD SSO Tab Authentication</h1>
<div id="divError" style="display: none"></div>
<button onclick="requestConsent()" id="consent" style="display:none;">Consent</button>
<div id="divGraphProfile" style="display: none"></div>