@using Microsoft.Extensions.Configuration
@inject IConfiguration Configuration
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Auth Start Page</title>
</head>
<body>
    
    <p>
        Authorizing...
    </p>

    <script src="https://statics.teams.cdn.office.net/sdk/v1.8.0/js/MicrosoftTeams.min.js" integrity="sha384-5ilKjPffKMvf1YelNqWjOhy5WJC9rkHpgF9pASMY/eRFlb619wOrCGMVIg/a/71o" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://alcdn.msauth.net/browser/2.7.0/js/msal-browser.min.js" integrity="sha384-isB7RsMD9bXfK4BK9pJHfTyTfQMM/KQ/1a58J/PVsDFbto29TgNxOP3ZyrhRyiTV" crossorigin="anonymous"></script>

    <script>

        (function () {
            'use strict';

            const msalClient = new msal.PublicClientApplication(msalConfig);

            microsoftTeams.initialize(window);

            // Get the tab context, and use the information to navigate to Azure AD login page
            microsoftTeams.getContext((context) => {
                handleReturn();
            });

            async function getAccessTokenEx(scopes, context) {

                request.account =
                    msalClient.getAccountByUsername(/*getUsername()*/ context.loginHint);
                if (scopes) {
                    request.scopes = scopes;
                }
                try {
                    let resp = await msalClient.acquireTokenSilent(request);
                    if (resp && resp.accessToken) {
                        return {
                            username: context.loginHint,
                            accessToken: resp.accessToken,
                            expiresOn: (new Date(resp.expiresOn)).getTime()
                        }
                    } else {
                        return null;
                    }
                }
                catch (error) {
                    if (error instanceof InteractionRequiredAuthError) {
                        console.warn("Silent token acquisition failed; acquiring token using redirect");
                        msalClient.acquireTokenRedirect(request);
                    } else {
                        throw (error);
                    }
                }
            }

        })();

    </script>
</body>
</html>