################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/samples/bot-sso-azuread/Source/obj/Release/netcoreapp3.1/TeamsBotSSO.assets.cache
/samples/bot-sso-azuread/Source/obj/Release/netcoreapp3.1/TeamsBotSSO.AssemblyInfoInputs.cache
/samples/bot-sso-azuread/Source/obj/Release/netcoreapp3.1/TeamsBotSSO.AssemblyInfo.cs
/samples/bot-sso-azuread/Source/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/samples/bot-b2c-chat-bot/Source/obj/Release/netcoreapp3.1/B2CChatBot.RazorAssemblyInfo.cs
/samples/bot-b2c-chat-bot/Source/obj/Release/netcoreapp3.1/B2CChatBot.RazorAssemblyInfo.cache
/samples/bot-b2c-chat-bot/Source/obj/Release/netcoreapp3.1/B2CChatBot.AssemblyInfoInputs.cache
/samples/bot-b2c-chat-bot/Source/obj/Release/netcoreapp3.1/B2CChatBot.AssemblyInfo.cs
/samples/bot-b2c-chat-bot/Source/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/samples/bot-b2c-chat-bot/Source/obj/Debug/netcoreapp3.1/B2CChatBot.RazorAssemblyInfo.cs
/samples/bot-b2c-chat-bot/Source/obj/Debug/netcoreapp3.1/B2CChatBot.RazorAssemblyInfo.cache
/samples/bot-b2c-chat-bot/Source/obj/Debug/netcoreapp3.1/B2CChatBot.csproj.AssemblyReference.cache
/samples/bot-b2c-chat-bot/Source/obj/Debug/netcoreapp3.1/B2CChatBot.AssemblyInfoInputs.cache
/samples/bot-b2c-chat-bot/Source/obj/Debug/netcoreapp3.1/B2CChatBot.AssemblyInfo.cs
/samples/bot-b2c-chat-bot/Source/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/samples/app-virtual-events-meeting-extensibility/Source/VirtualMeetingExtensibility/obj/Debug/netcoreapp3.1/VirtualMeetingExtensibility.csproj.AssemblyReference.cache
/samples/app-acs-calling/Source/obj/Release/netcoreapp3.1/Calling.AssemblyInfoInputs.cache
/samples/app-acs-calling/Source/obj/Release/netcoreapp3.1/Calling.AssemblyInfo.cs
/samples/app-acs-calling/Source/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/samples/app-acs-calling/Source/obj/Debug/netcoreapp3.1/Calling.csproj.AssemblyReference.cache
/samples/app-acs-calling/Source/obj/Debug/netcoreapp3.1/Calling.AssemblyInfoInputs.cache
/samples/app-acs-calling/Source/obj/Debug/netcoreapp3.1/Calling.AssemblyInfo.cs
/samples/app-acs-calling/Source/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/.vs/teams-dev-samples/v16/.suo
/.vs/teams-dev-samples/config/applicationhost.config
/.vs/slnx.sqlite
/samples/tab-sso-teamsclientsdk/Source/obj/Release/netcoreapp3.1/TeamsAuthSSO.RazorAssemblyInfo.cs
/samples/tab-sso-teamsclientsdk/Source/obj/Release/netcoreapp3.1/TeamsAuthSSO.RazorAssemblyInfo.cache
/samples/tab-sso-teamsclientsdk/Source/obj/Release/netcoreapp3.1/TeamsAuthSSO.AssemblyInfoInputs.cache
/samples/tab-sso-teamsclientsdk/Source/obj/Release/netcoreapp3.1/TeamsAuthSSO.AssemblyInfo.cs
/samples/tab-sso-teamsclientsdk/Source/obj/Release/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
/samples/tab-sso-teamsclientsdk/Source/obj/Debug/netcoreapp3.1/TeamsAuthSSO.RazorAssemblyInfo.cs
/samples/tab-sso-teamsclientsdk/Source/obj/Debug/netcoreapp3.1/TeamsAuthSSO.RazorAssemblyInfo.cache
/samples/tab-sso-teamsclientsdk/Source/obj/Debug/netcoreapp3.1/TeamsAuthSSO.AssemblyInfoInputs.cache
/samples/tab-sso-teamsclientsdk/Source/obj/Debug/netcoreapp3.1/TeamsAuthSSO.AssemblyInfo.cs
/samples/tab-sso-teamsclientsdk/Source/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
