################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BotMeetingFfeedbackCS/Properties/launchSettings.json
/BotMeetingFeedbackCS/Models
/BotMeetingFeedbackCS/.vs
/BotMeetingFeedbackCS/Properties/launchSettings.json
/BotMeetingFeedbackCS/Resources/HelloWorldCard.json
/BotMeetingFeedbackCS/Commands
