@{
    ViewData["Title"] = "Coorporate Helper";
}
<h1>Coorporate Helper</h1>
<p>Welcome to your one-place for submitting your cooporate needs! Please check the tabs above for the tools that you need.</p>
<div id="divError" style="display: none"></div>
<button onclick="requestConsent()" id="consent" style="display:none;">Authenticate</button>
<div id="divGraphProfile" style="display: none"></div>
