@page "/"
@page "/tab"

<div>
  @*^Use this for debugging purposes
  <div>
    <mgt-login></mgt-login>
  </div>*@
   <div class="mgtDiv">
    <mgt-person person-query="me" view="twoLines"></mgt-person>
  </div>
  <div class="mgtDiv">
    <mgt-people show-max="5"></mgt-people>
  </div>
</div>



