@page "/config"
@inject IJSRuntime jsRuntime

<div class="config page" id ="tab config">
        <h1>Tab Configuration</h1>
        <p>
            This is where you will add your tab configuration options the user 
            can choose when the tab is added to your team/group chat.
        </p>
</div>

@code {
    TeamsFx teamsfx;

	protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        teamsfx = await TeamsFx.CreateTeamsFx(jsRuntime);
        await teamsfx.LoadTabConfigJS();  
    }

}
