@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using System.Security.Authentication
@using Microsoft.Graph
@using Microsoft.AspNetCore.Components
@using Microsoft.JSInterop

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager
<style>
    .nav-link {
        text-decoration: none;
        color: #08396f;
        margin-right: 8px;
        font-size: 1.2rem;
    }

    .nav-link:hover {
        border-bottom: 2px solid #08396f;
    }
    .nav-link:active {
        border-bottom: 2px solid #08396f;
    }

    .navbar-ui {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: #fff;
        font-family: Alata, sans-serif;
        font-weight: 400;
        border-radius: .5rem;
        padding: 10px 20px;
        background: rgba(255, 255, 255, .8);
        box-shadow: 0 4px 30px rgba(0, 0, 0, .2);
        backdrop-filter: blur(8px);
        -webkit-backdrop-filter: blur(8px);
    }

    .navbar-brand img {
        width: 80px;
        height: 50px;
    }

    .navbarCollection{
        margin-left: 25%;
    }

</style>


<AuthorizeView>
    <Authorized>
        <nav class="navbar navbar-expand-lg navbar-ui">
            <div class="container">
                <a class="navbar-brand" href="#">
                    <img src="img/nexus.png" alt="Logo" style="width: 80px; height: 50px;">
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav navbarCollection">
                        <li class="nav-item">
                            <a class="nav-link" href="/overview/menu">
                                Overview
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/calendar">
                                Calendar
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/applicationtracker">
                                CareerTrack
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="/NotesPro">
                                NotesPro
                            </a>
                        </li> 

                    </ul>

                    <div class="ms-auto">
                        <a style="color:black; text-decoration:none;font-size:1rem;"> Welcome @context?.User?.Identity?.Name!</a>
                        <a class="dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" style="color:black;">
                            <img src="@(context.User.GetUserGraphPhoto() ?? "/img/no-profile-photo.png")" class="nav-profile-photo rounded-circle align-self-center mr-2">
                        </a>
                        <div class="dropdown-menu dropdown-menu-end" style=" position: absolute; top: 100%;">
                            <h5 class="dropdown-item-text mb-0">@context?.User?.Identity?.Name</h5>
                            <p class="dropdown-item-text text-muted mb-0" >@context?.User?.GetUserGraphEmail()</p>
                            <div class="dropdown-divider"></div>
                            <button class="dropdown-item white-text" @onclick="BeginLogout">Log out</button>
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    </Authorized>
    <NotAuthorized>
        <div class="right-content-bar">
            <a href="authentication/login" style="color:white;">Log in</a>
        </div>
    </NotAuthorized>
</AuthorizeView>

@code{
    private async Task BeginLogout(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateToLogout("authentication/logout");
    }
}