<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - TeamsAuthSSO</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <script src="~/lib/jquery/jquery.min.js"></script>
    <script src="~/lib/microsoft/teams-js/dist/MicrosoftTeams.min.js"></script>
    <script src="~/js/auth.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
