# The public domain name of where you host your application
PUBLIC_HOSTNAME=72b3-46-128-193-151.ngrok.io

# Id of the Microsoft Teams application
APPLICATION_ID=fbf411d0-102e-11ed-bdb0-c79ea1ed2870
# Package name of the Microsoft Teams application
PACKAGE_NAME=tabmeetingdetails

# App Id and App Password for the Bot Framework bot
MICROSOFT_APP_ID=<YOUR BOT App ID>
MICROSOFT_APP_PASSWORD=<YOUR BOT App Secret>

# Port for local debugging
PORT=3007

# Security token for the default outgoing webhook
SECURITY_TOKEN=

# ID of the Outlook Connector
CONNECTOR_ID=

# Application Insights instrumentation key
APPINSIGHTS_INSTRUMENTATIONKEY=

# NGROK configuration for development
# NGROK authentication token (leave empty for anonymous)
NGROK_AUTH=
# NGROK sub domain. ex "myapp" or  (leave empty for random)
NGROK_SUBDOMAIN=
# NGROK region. (us, eu, au, ap - default is us)
NGROK_REGION=

# Debug settings, default logging "msteams"
DEBUG=msteams
