.block {
  margin: 8px
}
@media only screen and (max-width: 600px) {
  .field {
    margin-top: 4px;
    margin-bottom: 4px;
    width: 95%;
  }
}
.field {
  margin-top: 4px;
  margin-bottom: 4px;
  width: 500px;
}
.button {
  margin-top: 12px;
}